.phone
  .layer.layer-1.bunny
    label(for="bunny1")
    input#bunny1(type="checkbox")
    .bunny__ear
      .bunny__ear--left
      .bunny__ear--right
    .bunny__head
      .bunny__eye
        .bunny__eyes--left
        .bunny__eyes--rigth
  .layer.layer-2.bunny
    label(for="bunny2")
    input#bunny2(type="checkbox")
    .bunny__ear
      .bunny__ear--left
      .bunny__ear--right
    .bunny__head
      .bunny__eye
        .bunny__eyes--left
        .bunny__eyes--rigth
  .layer.layer-3.tierra
    .cesped
  .layer.layer-4.bunny
    label(for="bunny3")
    input#bunny3(type="checkbox")
    .bunny__ear
      .bunny__ear--left
      .bunny__ear--right
    .bunny__head
      .bunny__eye
        .bunny__eyes--left
        .bunny__eyes--rigth
  .layer.layer-5.tierra
    .cesped
  .layer.layer-6.bunny
    label(for="bunny4")
    input#bunny4(type="checkbox")
    .bunny__ear
      .bunny__ear--left
      .bunny__ear--right
    .bunny__head
      .bunny__eye
        .bunny__eyes--left
        .bunny__eyes--rigth
  .layer.layer-7.tierra
    .cesped
  .layer.layer-8.tierra
    .cesped
  .layer.layer-9 
  .layer.layer-10
  h3.total-counter Score: