body {
  height: 100%;
  display: grid;
  place-items: center;
  counter-reset: game;
}
.phone {
  width: 300px;
  height: 500px;
  border: 3px solid black;
  border-radius: 30px;
  position: relative;
  background-color: #aed6f1;
  overflow: hidden;
}
.layer {
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  background-color: #78281f;
  box-shadow: 0 0 3px 2px rgba(#000, 0.2);
  label {
    width: 100%;
    height: 100px;
    outline: 1px solid;
    display: block;
    position: absolute;
    z-index: 20;
  }
  &.tierra {
    box-shadow: 20px 50px 5px rgba(#000, 0.2) inset;
    .cesped {
      position: absolute;
      width: 100%;
      height: 40px;
      top: 0;
      background-color: #186a3b;
      opacity: 0.9;
      background-image: linear-gradient(135deg, #145a32 25%, transparent 25%),
        linear-gradient(225deg, #145a32 25%, transparent 25%),
        linear-gradient(45deg, #602019 25%, transparent 25%),
        linear-gradient(315deg, #602019 25%, #186a3b 25%);
      background-position: 20px 0, 20px 0, 0 0, 0 0;
      background-size: 40px 40px;
      background-repeat: repeat;
    }
  }
  &-1 {
    width: 90px;
    height: 390px;
    left: 50px;
    animation: esconder 3s ease-in-out infinite;
  }
  &-2 {
    width: 90px;
    height: 390px;
    right: 50px;
    animation: esconder 3s ease-in-out infinite;
    animation-delay: 2s;
  }
  &-3 {
    width: 250px;
    height: 350px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &-4 {
    width: 90px;
    height: 250px;
    right: 10px;
    animation: esconder 3s ease-in-out infinite;
    animation-delay: 1.5s;
  }
  &-5 {
    width: 150px;
    height: 210px;
    right: 0;
  }
  &-6 {
    width: 90px;
    height: 150px;
    left: 10px;
    animation: esconder 3s ease-in-out infinite;
    animation-delay: 0.5s;
  }
  &-7 {
    width: 160px;
    height: 110px;
    left: 0px;
  }
  &-8 {
    width: 100%;
    height: 60px;
  }
  &-9,
  &-10 {
    height: 70px;
    width: 100px;
    background-color: #196f3d;
    border-radius: 40%;
    box-shadow: 15px 15px 5px inset rgba(#000, 0.2);
  }
  &-10 {
    right: 0;
  }
}
.bunny {
  box-shadow: none;
  background-color: transparent;
  &__ear {
    width: 100%;
    height: 100px;
    position: absolute;
    top: -49px;
    display: flex;
    justify-content: space-between;
    &--left {
      width: 30px;
      height: 100px;
      background-color: pink;
      border-radius: 50%;
      box-shadow: 0 0 0 6px white inset;
    }
    &--right {
      width: 30px;
      height: 100px;
      background-color: pink;
      border-radius: 50%;
      box-shadow: 0 0 0 6px white inset;
    }
  }
  &__head {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
  }
  &__eye {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    top: 20px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    @keyframes blink {
      0% {
        transform: scaleY(1);
      }
      5% {
        transform: scaleY(0.5);
      }
      10% {
        transform: scaleY(1.5);
      }
      15% {
        transform: scaleY(1);
      }
    }
    &s--left {
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
    }
    &s--rigth {
      width: 10px;
      height: 10px;
      background-color: #000;
      border-radius: 50%;
    }
  }
}
.total-counter {
  text-align: center;
  &::after {
    content: counter(game);
  }
}
input[type="checkbox"] {
  position: absolute;
  left: 40%;
  top: -30px;
  &::checked {
    counter-increment: game;
  }
}
@keyframes esconder {
  0% {
    bottom: 0px;
  }
  10% {
    bottom: -90px;
  }
  15% {
    bottom: 0px;
  }
}
